@model DnsChanger.Web.Models.IndexModel
<!DOCTYPE html>
<html>
<head>
    <title>DnsChanger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bulma.min.css">
    <style>
        html, body, .cont {
            height: 100%;
        }
        
        body {
            background-color: #fffaf0;
        }
    </style>
</head>
<body>
<div style="max-width: 400px;"
     class="cont container is-centered">
    <div class="columns is-flex is-vcentered is-centered cont mt-0 mb-0">
        <div class="box"
             style="width: 90%;">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <div class="has-text-centered mt-2 mb-0"><spen class="has-text-weight-bold">Ip: </spen> @Model.Ip</div>
                        <div class="has-text-centered mt-0 mb-2 is-size-7">(DNS: @Model.Config.DNSToOverride)</div>
                        <div class="has-text-centered mt-2 mb-5"><a href="/change-wan-ip" class="button">Change IP</a></div>
                        @foreach (var device in Model.Devices)
                        {
                            <div class="has-text-centered mt-2 mb-0"><spen class="has-text-weight-bold">@device.Device.Name: </spen> @(device.IsRedirected ? "US" : "UY")</div>
                            <div class="has-text-centered mt-0 mb-2 is-size-7">(@device.Device.Ip)</div>
                            <div class="has-text-centered mt-2 mb-5">
                                @if (device.IsRedirected)
                                {
                                    <a href="/change?redirect=false&ip=@device.Device.Ip" class="button">Change to UY</a>
                                }
                                else
                                {
                                    <a href="/change?redirect=true&ip=@device.Device.Ip" class="button">Change to US</a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
</body>
</html>
